<div class="container-fluid card login-container">
    <h3 class="text-center">Create an account</h3>
    <hr>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p>Please fill out all fields correctly before submitting the form</p>
    </div>
    <div class="mb-3">
      <label for="login" class="form-label">Email address</label>
      <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="login" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" minlength="8" placeholder="Password">
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <button (click)="register()" type="button" class="btn btn-success">
        Create an account
      </button>
      <div>
        Already have an account?
        <a (click)="login()" style="color: #198754;text-decoration: underline;cursor: pointer;">
          Login
        </a>
      </div>
    </div>
  </div>